**/target/
**/.classpath
**/.project
**/.settings/
**/.factorypath
**/*.iml
**/.idea/
**/.vscode/

deploy/.env
**/.env
**/*.pem
**/*.key
**/*.log
**/*debug*.txt
**/*_out.txt
**/*.txt
**/*.bat
**/*.ps1
**/*.sh

/frontend/
/admin-frontend/
/src/
/PPT/

**/node_modules/
**/dist/
**/.DS_Store

certificate-service/generated-certificates/
certificate-service/generated-lors/
