server:
  port: 8090

spring:
  application:
    name: course-service
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
  datasource:
    url: ${COURSE_DB_URL:jdbc:mysql://localhost:3306/skilledup_course_db?createDatabaseIfNotExist=true}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: ${JPA_DDL_AUTO:update}
    show-sql: ${JPA_SHOW_SQL:true}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka/}



# AWS S3 Configuration
aws:
  s3:
    access-key: ${AWS_ACCESS_KEY_ID:}
    secret-key: ${AWS_SECRET_ACCESS_KEY:}
    region: ${AWS_REGION:us-east-1}
    bucket: ${AWS_BUCKET:lms-testing1}
  cloudfront:
    domain: ${CLOUDFRONT_DOMAIN:}
    key-pair-id: ${CLOUDFRONT_KEY_PAIR_ID:}
    private-key-path: ${CLOUDFRONT_PRIVATE_KEY_PATH:}

# FFmpeg Configuration
ffmpeg:
  path: ${FFMPEG_PATH:ffmpeg}
